@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TV Raspored</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container m-1">
                <a class="navbar-brand" asp-controller="Tvpostaje" asp-action="Izbornik">TV Postaje</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav mr-auto">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("administrator") || User.IsInRole("moderator"))
                            {
                                @if (User.IsInRole("administrator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Tvpostaje" asp-action="Statistika">Statistika</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Korisnici" asp-action="Lista">Korisnici</a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Emisije" asp-action="Raspored" asp-route-sortOrder="0">Tv raspored</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Korisnici" asp-action="Detalji" asp-route-korisnickoIme=@User.Identity.Name>Osobni podaci</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Korisnici" asp-action="Odjava">
                                    <button type="submit" class="nav-link btn btn-link align-middle">| Odjava @User.Identity.Name</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Korisnici" asp-action="Prijava">Prijavi se</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TvRaspored - Kristian Tomić
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
